<footer class="footer fixed-bottom bg-dark pt-4 pb-4">
        <div class="container text-center">
            <span class="text-white">
                Copyright &copy; <%= link_to "ALPHA BLOG", root_path, class: "text-white text-decoration-none" %>
            </span>
        </div>
</footer>